<html>

<body>
  <div>
    <div class="background">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 card">
          <div class="mb-3">
            <label class="label-font">Enter a long URL to get a short URL</label>
            <input type="text" #longUrl (keyup.enter)="submit(longUrl.value)">
          </div>
          <div class="mb-3">
            <input type="submit" (click)="submit(longUrl.value)">
          </div>
          <div *ngIf="shortUrl!==''" class="mb-3">
            <label class="label-font">Short URL : </label>
            <input type="submit" value="Click here" (click)="getOriginalURL()">            
          </div>
          <div *ngIf="errorMessage!==''" class="mb-3">
            <label class="label-font">{{errorMessage}}</label>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</body>

</html>